/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

  background: #000;
  display: flex;
  align-items: center;

  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 4px 18px rgba(0,0,0,0.3);
}

/* LEFT */
.nav-left {
  flex: 1;
}

.logo {
  color: #ffd23f;  /* Logo color */
  font-weight: 800;
  font-size: 22px;
}

/* CENTER */
.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

/* Main navbar links */
.nav-links a,
.nav-links span,
.nav-links button {
  color: #e6ebff;       /* Text color */
  background: none;
  border: none;
  font-size: 15px;
  letter-spacing: .5px;
  cursor: pointer;
  padding: 6px;
  transition: 0.2s ease;
  text-decoration: none;
  font-weight: 400;
}

.nav-links a:hover,
.nav-links span:hover,
.nav-links button:hover {
  color: #ffd23f;       /* Hover color */
}

/* DROPDOWN MENU */
.dropdown-menu {
    text-align: center;
  position: absolute;
  top: 45px;
  background: #111;       /* Dark background for dropdown */
  min-width: 220px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  border-radius: 10px;
  padding: 10px 0;
  z-index: 9999;
}

.dropdown-menu a {
  display: block;
  padding: 10px 18px;
  color: #e6ebff;        /* Text color for dropdown links */
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease;
}

.dropdown-menu a:hover {
  background: #ffd23f;   /* Hover background */
  color: #000;           /* Hover text color */
}

/* RIGHT */
.nav-right {
  flex: 1;
}

/* RESPONSIVE */
@media(max-width: 900px){
  .nav-links{
    gap: 18px;
  }
}

@media(max-width: 600px){
  .nav-links{
    display: none; /* add hamburger later */
  }
}

/* Prevent dropdown arrow from wrapping */
.nav-links span ,
.nav-links a 
{
  white-space: nowrap;  /* Keeps text and arrow on same line */
  /*display: inline-flex; /* Align text and arrow horizontally */
  align-items: center;  /* Vertically center text and arrow */
  gap: 4px;             /* Optional spacing between text and arrow */
}
